<link rel="stylesheet" href="../stylesheet/login.css">


<div class="container">
    <form id="form" action="/auth/login" method="post">
        <h1>LOGIN</h1>
        <div class="input-control">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
            <div class="error"></div>
        </div>
        <div class="input-control">
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
            <div class="error"></div>
        </div>
        <button type="submit">Login</button>
        <a href="/auth/signup">Create new account.</a>
    </form>
</div>
